body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

a {
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

#dataViz {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 70vh; 
}

#key {
    display: flex;
    flex-basis:18%;
    flex-shrink: 2;
    padding: 3px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
#graph {
    flex-basis:60%;
    /* width: 60vw; */
    flex-grow: 5;
    flex-shrink: 1;
}

#ptntData {
    flex-basis:18%;
    /* width: 19vw; */
    flex-shrink: 2;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#ptntInfo {
    margin: 5px 0px;
    padding: 5px;
    width: 40%;
}

#patStat {
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

#info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 30vh;
}

#dateData {
    width: 30vw;
    margin: 3px;
}

#numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#number {
    margin: 2px 0px;
    padding: 5px;
    width: 30%;
}

#stat {
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}


#news {
    width: 30vw;
    padding: 15px;
    overflow: auto;
}
#sm {
    width: 30vw;
    padding: 15px;
    overflow: auto;
}

.dateButton {
	background-color:#7f7f7f;
    color:#ffffff;
    border: transparent;
	font-family:Arial;
	font-size:32px;
    padding:16px;
    margin: 3px;
	text-decoration:none;
}

.parKey {
    width: 100%;
    flex-grow: 1;
    background-color: transparent;
    border: white;
    margin:1px;
    padding: 5px;
    text-align: left;
    border-width: 1px;
    border-style: solid;
    color: white; 
    font-size: 18px;
}

#keyColors {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    flex-grow: 10;
    height: 45%;
    overflow: auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    color: white;
    padding: 100px;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
